@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    background:black;
    padding: 0 10%;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(99, 163, 165),rgb(146, 217, 219));
    .searchSection{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        .search{
            border-radius: 10px;
            overflow: hidden;
           input,button{
               border: none;
               padding: 10px 20px;
           }
           button{
               cursor: pointer;
               font-weight: 500;
           }
        }
    }
    .taskSection{
        display: flex;
        justify-content: center;
        align-items: center;
        background:linear-gradient(90deg,rgb(99, 163, 165),rgb(252, 255, 220),rgb(254, 255, 220),rgb(146, 217, 219)) ;
        border-radius: 30px;
        ul{
            width: 30%;
            position: relative;
            li{
                border-bottom: 2px solid rgb(139, 139, 139);
                margin: 10px;
                .btnDelete{
                    position: absolute;
                    right: 0;
                    background: transparent;
                    border:1px solid black;
                    border-radius: 3px;
                    padding: 1px;
                    &:hover{
                        cursor: pointer;
                        background-color: black;
                        font-weight: 600;
                        color: white;
                        transition: .3s ease-out;
                    }
                }
                .btnIsDone{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}